* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #2a1d3f, #38353b, #78747c, #FF8066);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;

}

.header__logo {
    background-image: url("/assets/logo.png");
    margin-left: 10px;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.forms__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
} 
.section{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
label{
    font-size: 20px;
}
.income-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.input{
  width: 170px;
}
.input,
button {
    padding: 8px;
    font-size: 16px;
    border: none;
    background-color: #fff;
}
button{
    color: #fff;
    background-color: #FF8066;
    transition: all .3s ease
}
button:hover{
    background-color: #fff;
    color:#FF8066;
}

.incomes-container,
.expenses-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
}
.incomes-list,
.expenses-list{
list-style: none;
min-width: 40%;
padding-top: 10px
}
.incomes-list li {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.expenses-list li {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.incomes,
.expenses{
    margin: 5px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-item,
.income-item{
    /* padding: 0px 10px; */
}
.edit-btn{
    background-color: #668cff;
    margin-left: 10px;
    margin-top: 5px;
}
.trash-btn{
background-color: #2a1d3f;
margin-left: 5px;
margin-top: 5px;

}
.fa-trash,
.fa-pen-to-square{
    pointer-events: none;
}

.confirm-btn{
    background-color: #06ff06d2;
    margin: 0 10px
}
.cancel-btn{
    background-color: #ff0000;
}